* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  h1 {
    font-weight: normal;
  }
  
  li {
    display: inline-block;
    font-size: 1.5em;
    list-style-type: none;
    padding: 1em;
    text-transform: uppercase;
  }
  
  li span {
    display: block;
    font-size: 4.5rem;
  } 
  
  /* general styling */
  html, body {
    height: 100%;
    margin: 0;
  }
  
  body {
    display: flex;
    align-items: center;
    font-family: sans-serif;
    background-color: #ffd54f;
  }
  
  #container {
    color: #333;
    margin: 0 auto;
    padding: 5rem;
    border-radius: 5px;
    text-align: center;
    z-index: 2;
    background-color: rgba(255,255,255,.85);
  }

/* Video Background */
#video-background {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: auto;
}

video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.video-overlay {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0,0,0,.35);
}